@import "base/base";

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* 0 0 bir koordinat noktası belirlendi (resme göre en sol üst) ordan itibaren kordinatlar boyu resmi kesti */
  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__logo {
    height: 35px;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/*
logonun üstüne geldiğinde animasyon olusturmak için
.logo:hover{
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
} */

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden; /* animasyonlarda bazen topa sıcrama durumu oluyor bir çıtır. Bu onu cözüyor */

  margin-bottom: 60px;

  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px; /* harfler arası boşluk */

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; /* default özellik gibi çeşitleri var mozilladan bakabilirsin */

    /* animation-iteration-count: 3;  x kere yaptır 
    animation-delay:3s;  başlangıçtan animation başlangıcına kadar beklenecek süre */
  }
  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px; /* header part 2 dk 11 */
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

/* transform: rotate(180deg) döndürme işlemleri yapmak için */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* sadece -x yönünde 100px yapılan hareket */
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); /* sadece -x yönünde 100px yapılan hareket */
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); /* sadece -x yönünde 100px yapılan hareket */
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none; /* alt çizgiyi kaldırdı */
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
